.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  gap: 2rem;
}

.movieDetails {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  gap: 3em;
}

.moviePoster {
  width: 30%;
  height: auto;
  margin-left: 5%;
  box-shadow: rgba(206, 204, 204, 0.2) 0px 2px 8px 0px;
}

.btnBack {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 1em;
  color: #999;
}

.btnBack:hover {
  cursor: pointer;
  color: #0ddfdb;
}

.iconBack {
  font-size: 2em;
  margin-right: 1em;
}