.movieCard {
    width: 100%;
    /* ocupa todo el ancho en móvil */
    max-width: 200px;
    height: auto;
    position: relative;
    list-style: none;
}

.movieCardImage {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 3;

    object-fit: cover;
}

.movieCardTitle {
    font-size: 1rem;
    padding-bottom: .3rem;

}

.movieCardGenres,
.movieCardYear {
    font-size: 0.8rem;
    color: #999;
    margin-bottom: 0.5rem;

}