.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  gap: 2rem;
}

header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  color: #0ddfdb;
  font-family: 'Lily Script One', cursive;
  font-size: 1.5rem;

  & .logoIcon {
    width: 55px;
    height: 55px;
    ;

  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

main {
  flex: 1;
  overflow-y: auto;
}