 .filterForm {
     display: flex;
     justify-self: center;
     gap: 0.5rem;
 }

 .genreSelect {
     padding: 0.6rem;
     background-color: #04918e;
     font-size: 0.7rem;
     color: whitesmoke;
     font-weight: bold;
     border: none;
     border-radius: 0.2rem;
 }

 button[type=button] {
     background-color: transparent;
     border: none;
     color: whitesmoke;
     cursor: pointer;
     font-size: 1.2rem;
 }

 @media (min-width: 426px) {

     .genreSelect {
         padding: 1rem;
         font-size: 0.8rem;
     }

     button[type=button] {
         font-size: 1.2rem;
     }
 }